<div id="user" class="user" xmlns:v-on="http://www.w3.org/1999/xhtml"
     xmlns:v-slot="http://www.w3.org/1999/XSL/Transform" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">
                <h2 class="user_unregistered-title">没有账号？</h2>
                <p class="user_unregistered-text">点击按钮注册成为会员.</p>
                <button class="user_unregistered-signup" v-on:click="shiftView">注册</button>
            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">已有账号?</h2>
                <p class="user_registered-text">点击按钮会员登录.</p>
                <button class="user_registered-login" v-on:click="shiftView">登录</button>
            </div>
        </div>

        <div class="user_options-forms" v-bind:class="{bounceRight:isBounceRight,bounceLeft:isBounceLeft}"
             id="user_options-forms">
            <div class="user_forms-login">
                <h2 class="forms_title">登录</h2>
                <form class="forms_form">
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input type="text" v-model="passport" placeholder="账号" class="forms_field-input" required
                                   autofocus/>
                        </div>
                        <div class="forms_field">
                            <input type="password" v-model="password" placeholder="密码" class="forms_field-input"
                                   required/>
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="button" class="forms_buttons-forgot">忘记密码?</button>
                        <input type="button" value="登录" v-on:click="login" class="forms_buttons-action">
                    </div>
                </form>
            </div>

            <div class="user_forms-signup">

                <h2 class="forms_title">注册</h2>
                <q-form
                        @submit="onSubmit"
                        @reset="onReset"
                        class="q-gutter-md"
                        ref="register"
                >
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <q-input v-model="passport" label="账号"/>
                        </div>
                        <div class="forms_field">
                            <q-input v-model="password" label="密码" />
                        </div>
                        <div class="forms_field">
                            <q-input v-model="nickname" label="用户名"/>
                        </div>
                        <div class="forms_field">
                            <q-input v-model="idCard" label="身份证号码"/>
                        </div>
                        <div class="forms_field">
                            <q-radio v-model="gender" val="1" label="男"/>
                            <q-radio v-model="gender" val="2" label="女"/>
                        </div>
                        <div class="forms_field">
                            <q-input label="请选择出生日期" v-model="birthday" mask="date" :rules="['date']">
                                <template v-slot:append>
                                    <q-icon name="event" class="cursor-pointer">
                                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                            <q-date v-model="birthday">
                                                <div class="row items-center justify-end">
                                                    <q-btn v-close-popup label="Close" color="primary" flat/>
                                                </div>
                                            </q-date>
                                        </q-popup-proxy>
                                    </q-icon>
                                </template>
                            </q-input>
                        </div>
                        <div class=" q-gutter-md row items-start">
                            <div>
                                <q-select
                                        v-model="province"
                                        :options="options"
                                        label="省"
                                        style="width: 180px"
                                />
                            </div>
                            <div>
                                <q-select
                                        v-model="city"
                                        :options="options"
                                        label="市"
                                        style="width: 180px"
                                />
                            </div>
                            <div>
                                <q-select
                                        v-model="area"
                                        :options="options"
                                        label="地区"
                                        style="width: 180px"
                                />
                            </div>
                        </div>
                        <br>
                        <div class="forms_field">
                            <q-file bottom-slots v-model="avatar" label="选择头像" counter max-files="12">
                                <template v-slot:before>
                                    <q-avatar>
                                        <img src="https://cdn.quasar.dev/img/avatar5.jpg">
                                    </q-avatar>
                                </template>

                                <template v-slot:append>
                                    <q-icon v-if="avatar !== null" name="close" @click.stop="avatar = null"
                                            class="cursor-pointer"/>
                                    <q-icon name="create_new_folder" @click.stop/>
                                </template>

                                <template v-slot:hint>
                                    上传图片格式头像
                                </template>

                            </q-file>
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <q-btn label="注册" type="submit" color="primary"/>
                    </div>
                </q-form>
            </div>
        </div>
    </div>
</div>
!{include "/quasar.html" .}
<script>
    var app = new Vue({
        el: "#user",
        data: {
            thumbStyle: {
                right: '4px',
                borderRadius: '5px',
                backgroundColor: '#027be3',
                width: '5px',
                opacity: 0.75
            },

            barStyle: {
                right: '2px',
                borderRadius: '9px',
                backgroundColor: '#027be3',
                width: '9px',
                opacity: 0.2
            },
            avatar:"",
            message: "hello",
            isBounceRight: true,
            isBounceLeft: false,
            passport: "",
            password: "",
            nickname: "",
            idCard: "",
            gender: 0,
            birthday: "",
            province:"",
            city:"",
            area:"",
            fullAddress: "",
            options: ["33", "03", "02"],
            model: "",
        },
        watch:{
          idCard:function (newIdCard) {
              // 六位数字地址码，八位数字出生日期码，三位数字顺序码和一位数字校验码。
                console.log(this.gender)
              let that = this
              switch (newIdCard.length) {
                  case 18:
                  case 17:
                      genderFlag = newIdCard.slice(16,17);
                      this.gender = (genderFlag % 2 === 0) ? "2":"1";
                      break;
                  case 14:
                      this.birthday = newIdCard.slice(6,14);
                      break;
                  case 6:
                      axios.post("/idCard/get-full-name-by6-code",{code:newIdCard})
                          .then(function (response) {
                              console.log(response.data);
                              let data = response.data.data[0];
                              that.province = data.provinceName;
                              that.city = data.cityName;
                              that.area = data.areaName;
                          });
                      break;
                  case 5:
                  case 4:
                  case 3:
                  case 2:
                  case 1:
                  case 0:

              }
          }
        },
        methods: {
            shiftView: function () {
                this.isBounceRight = !this.isBounceRight
                this.isBounceLeft = !this.isBounceLeft
            },
            filterFn: function (val, update) {
                if (val === '') {
                    update(() => {
                        this.options = stringOptions
                    })
                    return
                }
                update(() => {
                    const needle = val.toLowerCase()
                    this.options = stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
                })
            },
            onSubmit () {
                this.$refs.register.validate().then(success => {
                    if (success) {
                        axios.post("/register", {
                            passport: this.passport,
                            password: this.password,
                            nickname:this.nickname,
                            idCard:this.idCard,
                            gender:this.gender,
                            birthday:this.birthday,
                            province:this.province,
                            city:this.city,
                            avatar:this.avatar,
                            area:this.area,
                        }).then((response) => {
                            this.$q.notify({
                                color: 'green-4',
                                textColor: 'white',
                                icon: 'cloud_done',
                                message: response.data.message
                            })
                        })
                    }
                    else {
                        // oh no, user has filled in
                        // at least one invalid value
                    }
                })
            },

            onReset () {
                this.name = null
                this.age = null
                this.accept = false
            },
            login: function () {
                axios.post("/login/do", {
                    passport: this.passport,
                    password: this.password
                }).then((response) => {
                    if (response.status == 200) {
                        if (response.data.code != 200 && response.data.code != 0) {
                            alert(response.data.message)
                        } else {
                            window.location.href = "/hello";
                        }
                    } else {
                        alert("内部错误")
                    }
                })
            }

        }
    });


</script>




